.page{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    width: 100%;
}
.button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.747);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}
button:hover{
    background-color: rgb(133, 8, 8);
}
.img{
    width: 300px;
    height: 400px;
    border-radius: 5px;
}
.vote{
    color: rgb(34, 179, 39);
}
.genre{
    font-weight: 600;
    margin-right: 10px;
    color: rgb(255, 0, 0);
}
.overview_h2{
    margin: 0;
}
.overview_p{
    margin: 0;
}
.overview_h3{
    margin: 0;
    margin-top: 20px;
}
.link{
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.747);
}
.additional_handlers{
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    display: flex;
    flex-direction: column;
}