.app{
    padding-left: 20px;
}

.nav{
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.nav_wrapper{
    display: flex;
    gap: 10px;
}


.active{
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: aquamarine;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
}